# Dirs
/bin
/bin-int

/.cache
/.run

# Ides
/.idea
/.vscode

# Files
Makefile
*.make
*.lz

compile_commands.json

# Temporary
/ast
/bytecode
/cli
/compiler
/interpreter
/parser
/repl
/runtime
/sema
/tests
/vm
